{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}
{% if capacity %}
<div class="card" style="width: 50%;">
    <div class="card-body">
      <h5 class="card-title">{{capacity.capacityName}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Data was received {{capacity.insertedDate|naturaltime}}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
{% else %}



{% endif %}

{% endblock%}