{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="container text-center">

    <div class="card">
      <h5 class="card-header">Capacities
            <a class="btn btn-success" href="{% url 'pbiwebapp:update_capacities' %}" role="button" style="float: right; font-size: 15px;">
                Update
            </a>
      </h5>
        <div class="card-body">
             <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">Capacity ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Workspace Count</th>
                      <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if capacities %}
                        {% for c in capacities %}
                            <tr>
                                <td>{{ c.capacityId }}</td>
                                <td>{{ c.capacityName }}</td>
                                <td>{{ c.insertedDate }}</td>
                                <td>{{ c.workspace_count }}</td>
                                <td>
                                   <a href="{% url 'pbiwebapp:delete_capacity_from_db' v_id=c.id %}">
                                      <button type="button" class="btn btn-outline-danger">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                          </svg>
                                      </button>
                                  </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Nothing Here</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <br><hr><br>

    <div class="card">
      <h5 class="card-header">Workspaces (Top 5)
            <a class="btn btn-success" href="{% url 'pbiwebapp:update_workspaces' %}" role="button" style="float: right; font-size: 15px;">Update</a>
      </h5>
        <div class="card-body">
             <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Capacity</th>
                        <th scope="col">Workspace ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Dataset Count</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if workspaces %}
                        {% for w in workspaces %}
                            <tr>
                                <td>{{ w.capacityId.capacityName }}</td>
                                <td>{{ w.workspaceId }}</td>
                                <td>{{ w.workspaceName }}</td>
                                <td>{{ w.insertedDate }}</td>
                                <td>{{ w.dataset_count }}</td>
                                <td>
                                   <a href="{% url 'pbiwebapp:delete_workspace_from_db' v_id=w.id %}">
                                      <button type="button" class="btn btn-outline-danger">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                          </svg>
                                      </button>
                                  </a>
                              </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Nothing Here</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <br><hr><br>

    <div class="card">
      <h5 class="card-header">Datasets (Top 5)
              <a class="btn btn-success" href="{% url 'pbiwebapp:update_datasets' %}" role="button" style="float: right; font-size: 15px;">Update</a>
      </h5>
        <div class="card-body">
             <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">Workspace</th>
                      <th scope="col">Dataset ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if datasets %}
                        {% for d in datasets %}
                            <tr>
                              <td>{{ d.workspaceId.workspaceName }}</td>
                              <td>{{ d.datasetId }}</td>
                              <td>{{ d.datasetName }}</td>
                              <td>{{ d.insertedDate }}</td>
                              <td>
                                   <a href="{% url 'pbiwebapp:delete_dataset_from_db' v_id=d.id %}">
                                      <button type="button" class="btn btn-outline-danger">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                          </svg>
                                      </button>
                                  </a>
                              </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Nothing Here</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock%}



