{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container text-center">

    <div class="card">
      <h5 class="card-header">Capacities</h5>
        <div class="card-body">
             <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">Capacity ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Last Refresh</th>
                      <th scope="col">Workspace Count</th>
                      <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if capacities %}
                        {% for c in capacities %}
                            <tr>
                                <td>{{ c.capacityId }}</td>
                                <td>{{ c.capacityName }}</td>
                                <td>{{ c.insertedDate | naturaltime }}</td>
                                <td>{{ c.workspace_count }}</td>
                                <td>
                                    <a href="{% url 'pbiwebapp:detail_capacity' v_id=c.id %}">
                                        <button type="button" class="btn btn-outline-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                                </svg>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Nothing Here</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <br><hr><br>

    <div class="card">
      <h5 class="card-header">Workspaces (Top 5)
        <a class="btn btn-primary" href="{% url 'pbiwebapp:workspaces' %}" role="button" style="float: right; font-size: 15px;">See All Workspaces</a>
      </h5>
        <div class="card-body">
             <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Capacity</th>
                        <th scope="col">Workspace ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last Refresh</th>
                        <th scope="col">Dataset Count</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if workspaces %}
                        {% for w in workspaces %}
                            <tr>
                                <td>{{ w.capacityId.capacityName }}</td>
                                <td>{{ w.workspaceId }}</td>
                                <td>{{ w.workspaceName }}</td>
                                <td>{{ w.insertedDate | naturaltime }}</td>
                                <td>{{ w.dataset_count }}</td>
                                <td>
                                    <a href="{% url 'pbiwebapp:detail_workspace' v_id=w.id %}">
                                        <button type="button" class="btn btn-outline-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                                </svg>
                                        </button>
                                    </a>
                              </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Nothing Here</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <br><hr><br>

    <div class="card">
      <h5 class="card-header">Datasets (Top 5)
        <a class="btn btn-primary" href="{% url 'pbiwebapp:datasets' %}" role="button" style="float: right; font-size: 15px;">See All Datasets</a>
      </h5>
        <div class="card-body">
             <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">Workspace</th>
                      <th scope="col">Dataset ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Last Refresh</th>
                      <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if datasets %}
                        {% for d in datasets %}
                            <tr>
                              <td>{{ d.workspaceId.workspaceName }}</td>
                              <td>{{ d.datasetId }}</td>
                              <td>{{ d.datasetName }}</td>
                              <td>{{ d.insertedDate | naturaltime }}</td>
                              <td>
                                <a href="{% url 'pbiwebapp:detail_dataset' v_id=d.id %}">
                                    <button type="button" class="btn btn-outline-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                        </svg>
                                    </button>
                                </a>
                              </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Nothing Here</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </tbody>
                
            </table>
        </div>
    </div>

</div>

{% endblock%}



